{{ import "../components/app_topnav.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML", "globalViewTransitions":"true"}' />
    <title>Go App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@latest"></script>
</head>
<body hx-boost="true" class="flex-col bg-gray-100 h-dvh">
    {{ yield appNavBar() }}
    
    <main id="app" class="flex-1 p-4">
        {{ yield body() }}
    </main>
</body>
</html>
